/* Space Panels */
.img1 {
    background-image: url(img/first.jpg);
}

.img2 {
    background-image: url(img/second.jpg);
}

.img3 {
    background-image: url(img/third.jpg);
}

.img4 {
    background-image: url(img/fourth.jpg);
}

.img5 {
    background-image: url(img/fifth.jpg);
}

.img6 {
    background-image: url(img/sixth.jpg);
}

.container {
    display: flex;
    margin: auto;
    width: 100%;
    margin-bottom: 15px;
}

.panel {
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    flex: 0.5;
    transition: flex 0.5s ease-in;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;  
}

.panel.active {
    flex: 5;
}

@media(max-width: 600px) {
    .container {
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6) {
        display: none;
    }
}
