/* Profile section */
body {
    margin: auto;
    font-family: "Muli", sans-serif;
    background-color:rgb(2, 32, 32);    
}

a {
    text-decoration: none;
    color:rgb(148, 233, 212)
}

.row, .about {
    display: flex;
}

.column, .section {
    padding: 10px;
}

.column p {
    font-size: large;
}

.profilePicture {
    height: 250px;
    border-radius: 20px;
}

.section ul {
    padding: 0;
    list-style-type: none;
}

.section li, .nav {
    margin-bottom: 5px;
    font-size: 20px;
    color:rgb(141, 218, 218)
}

.section li {
    padding: 5px 0px;
}

.column.first {
    background-color:rgb(13, 116, 116);
    flex: 1;
}

.column.second {
    background-color:rgb(24, 7, 71);
    color:rgb(156, 128, 231);
    padding-left: 20px;
    flex: 2;
}

.hide {
    display: none;
}

/* Button styling */
.column button {
    border: none;
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
    margin-bottom: 3px;
    border-radius: 3px;
    color: rgb(148, 233, 212);
    background-color: rgb(13, 116, 116);
    cursor: pointer;
    font-family: inherit;
}

button:active {
    transform: scale(0.98);
}

button:focus {
    outline:none;
}

/* Navbar */
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
.nav {
    float: left;
    padding: 20px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .about {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .row {
      flex-direction: column;
    }
}
