.xo-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 350px;
    height: 350px;
    margin: auto;
    margin-bottom: 20px;    
}

.xo-square {
    border: 4px solid rgb(2, 32, 32);
    background-color: rgb(22, 129, 124);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.o-sign, .x-sign {
    position: relative;
}

.o-sign:before {
    content: '';
    position: absolute;
    height: 75%;
    width: 75%;
    border: 5px solid white;
    border-radius: 50%;
}

.x-sign:before, .x-sign:after {
    content:'';
    position:absolute;
    width: 100%;
    height:5px;
    background-color:white;
    border-radius:5px;
}

.x-sign:before{
    transform:rotate(45deg);
    left:2px;
}

.x-sign:after{
    transform:rotate(-45deg);
    right:2px;
}

/* Win lines */
.win-line-a, 
.win-line-b, 
.win-line-c,
.win-line-1,
.win-line-2,
.win-line-3,
.win-diagon-1,
.win-diagon-2 {
    position: relative;
    pointer-events: none;
}

.win-line-a:after, 
.win-line-b:after, 
.win-line-c:after {
    content:'';
    position: absolute;
    width: 90%;
    height: 5px;
    background-color: orange;
    border-radius: 5px;
    margin-left: 17px;  
}

.win-line-a:after {
    margin-top: 56px;
}

.win-line-b:after {
    margin-top: 173px;
}

.win-line-c:after {
    margin-top: 289px;
}

.win-line-1:after,
.win-line-2:after,
.win-line-3:after {
    content:'';
    position: absolute;
    width: 5px;
    height: 90%;
    background-color:rgb(255, 153, 0);
    border-radius: 5px;
    margin-top: 17px;
}

.win-line-1:after {
    margin-left: 56px;
}

.win-line-2:after {
    margin-left: 173px;
}

.win-line-3:after {
    margin-left: 289px;
}

.win-diagon-1:after,
.win-diagon-2:after {
    content:'';
    position: absolute;
    width: 5px;
    background-color:rgb(255, 153, 0);
    border-radius: 5px;
    margin-left: 175px;
    height: 100%;
}

.win-diagon-1:after {
    transform:rotate(-45deg);
}

.win-diagon-2:after {
    transform:rotate(45deg);
}

.xo-button {
    display: flex;
    margin: auto;
    font-size: 25px;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
    background-color: rgb(185, 130, 27);
    cursor: pointer;
    margin-bottom: 20px;
}
