.xo-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 350px;
    height: 350px;
    margin: auto;
    margin-bottom: 30px;
}

.xo-square {
    border: 4px solid rgb(2, 32, 32);
    background-color: rgb(22, 129, 124);
    font-size: 30px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.o-sign {
    position: relative;
}

.o-sign:before {
    content: '';
    position: absolute;
    height: 75%;
    width: 75%;
    border: 5px solid white;
    border-radius: 50%;
}

.x-sign {
    position: relative;
}

.x-sign:before, .x-sign:after {
    content:'';
    position:absolute;
    width: 100%;
    height:5px;
    background-color:white;
    border-radius:5px;
}

.x-sign:before{
    transform:rotate(45deg);
    left:2px;
}

.x-sign:after{
    transform:rotate(-45deg);
    right:2px;
}