.tcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 500px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
}

.colorbox {
    background-color: rgb(2, 17, 24);
    transition: background-color 2s;
    width: 13px;
    height: 13px;
    margin: 1px;
    border-radius: 50%;
}
