.qcontainer {
    text-align: center;
    margin: 40px;
    border-radius: 20px;
    border: 1px inset rgb(67, 106, 189);
    padding: 30px;
    color: white;
    width: 50%;
}

.qbtn {
    padding: 12px 25px;
    font-size: larger;
    border-radius: 10px;
    border: none;
    background-color: rgb(67, 106, 189);
    color: white;
    margin: 20px 0px 40px 0px;
    cursor: pointer;
}

.qcontainer h2, .qcontainer h3 {
    letter-spacing: 2px;
}

#quote-id {
    left:0;
    float: left;
    border: 2px rgba(67, 106, 189, 0.473) solid;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

#qflex {
    display: flex;
    flex-direction: column;
}

#quote {
    padding: 10px;
}

:disabled {
    background-color: grey;
    cursor: default;
}

.qline {
    width: 250px;
    height: 4px;
    background-color: rgb(167, 166, 166);
    margin: auto;
    cursor: pointer;
}

.qprog {
    height: 4px;
    width: 0%;
    background-color: rgb(56, 92, 252);
}

#author {
    color: rgba(255, 255, 255, 0.548);
}

/* Card styles */
.quoteStyle1 {
    background-color:rgba(124, 142, 243, 0.301);
    
}

.quoteStyle2 {
    background-color:rgba(133, 76, 172, 0.473);
}

.quoteStyle3 {
    background-color:rgba(243, 181, 124, 0.397);
}

.quoteStyle4 {
    background-color:rgba(124, 243, 134, 0.301);
}

@media (max-width: 1024px) {
    .qcontainer {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .qcontainer {
        margin: 10px;
        width: 90%;
    }
}
